{% extends "base.html" %}

{% block content %}
  <style>
    .course-card {
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      overflow: hidden;
      text-align: center;
      transition: all 0.3s ease;
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
    }

    .course-card:hover {
      cursor: pointer;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }

    .course-card:hover p, .course-card:hover h2 {
      color: hsl(283, 100%, 30%);
    }

    .course-card img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
      margin-top: 20px;
    }

    .course-card h2 {
      font-size: 2rem;
      margin: 20px 0;
      color: #333;
      transition: color 0.3s ease;
    }

    .course-card p {
      font-size: 1.1rem;
      margin-bottom: 10px;
      color: #666;
      transition: color 0.3s ease;
      text-align: left;
      padding-left: 20px;
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      gap: 15px;
      margin-bottom: 40px;
    }

    .btn {
      display: inline-block;
      background-color: hsl(283, 100%, 30%) !important;
      color: #fff;
      border: none;
      padding: 12px 25px;
      font-size: 16px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #720101;
    }

    .btn-danger {
      background-color: #d9534f;
    }

    .btn-danger:hover {
      background-color: #d2221c;
    }

    a {
      text-decoration: none;
    }

    .star-rating {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-top: 10px;
    }

    .star {
      font-size: 2rem;
      color: #FFD700;
    }

    .star.empty {
      color: #ccc;
    }

    .back-button-mobile {
      display: inline-block;
      background-color: #6a0dad;
      color: #fff;
      border: none;
      padding: 15px 30px;
      font-size: 18px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.4s ease;
      text-decoration: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    .back-button-mobile:hover {
      background-color: #4b0082;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .back-button-mobile span {
      color: #fff;
      margin-left: 10px;
    }
  </style>

  <div class="course-card">
    <!-- Exibindo a imagem do curso -->
    {% if curso.imagem %}
    <img src="{{ curso.imagem.url }}" alt="{{ curso.nome }}" id="course-photo">
    {% endif %}

    <h2>{{ curso.nome }}</h2>
   <!-- <p><strong>Período:</strong> {{ curso.periodo }}</p>-->
    <p><strong>Turno (s):</strong> {{ curso.turnos }}</p>
    <p><strong>Coordenador:</strong> {{ curso.coordenador }}</p>
    <p><strong>Sala:</strong> {{ curso.sala }}</p>
    <p><strong>Instituição:</strong> {{ curso.instituicao.nome }}</p>

    <!-- Título para as estrelas -->
    <p style="text-align: center;"><strong>Nota MEC:</strong></p>

    <!-- Exibindo as estrelas de acordo com a nota MEC -->
    <div class="star-rating">
      {% for i in range_5 %}
        {% if i <= curso.nota_mec %}
          <span class="star">&#9733;</span>
        {% else %}
          <span class="star empty">&#9733;</span>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Botão de voltar para todas as telas -->
    <a href="{% url 'lista_cursos' %}" class="back-button-mobile">Voltar</a>
  </div>

  {% if user.is_superuser %}
  <div class="buttons-container">
    <a href="{% url 'update_curso' curso.pk %}" class="btn">Editar</a>
    <a href="{% url 'delete_curso' curso.pk %}" class="btn btn-danger">Deletar</a>
  </div>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const imgElement = document.getElementById("course-photo");
      if (imgElement) {
        imgElement.style.objectPosition = "center";
      }
    });
  </script>
{% endblock %}
